body{
    margin: 0;
    background-color:rgb(249, 250, 216)
}

.container{
    padding: 20px;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}

.wrapper h1{
    font-size: 44px;
}

.wrapper h2{
    font-size: 25px;   
}

.singer{
    border-top: 2px solid #34b792;
    margin: 25px 50px;
}

.table{
    padding: 6px 8px;
    border-bottom: 2px solid #bbbbbb;
    
}

tr th{
    border-left: 2px solid #bbbbbb;
    padding: 6px 8px;
}
tr th:nth-child(3){
    border-right: 2px solid #bbbbbb;
}




#post_form{
    text-align: left;
    width: 100%;
}

#post_form input{
    width: 100%;
    padding: 8px 6px;
    border: 1px solid #e2e2e2;
}

#post_form textarea{
    width: 100%;
    resize: none;
    padding: 8px 6px;
    border: 1px solid #e2e2e2;
}

.name{
    font-weight: 700;
    display: block;
    margin-bottom: 3px;
}

.comment{
    font-weight: 700;
    display: block;
    margin-bottom: 3px;
}

.category{
    padding-top: 20px;
    font-weight: 700;
    display: block;
    margin-bottom: 3px;
}

.btn{
    color: white;
    font-weight: bold;
    width: 100%;
    margin-top: 24px;
    padding: 10px 4px;
    background-color: #34b792;
    border: 1px solid #34b792;
}

footer{
    margin-top: 100px;
    background-color: #efefef;
    padding: 20px;
}

a{
    text-decoration: none;
    color: black;
    font-weight: 700;
}

ul{
    list-style: none;
}